

/* Input */
.input-container {
    position: relative;
}
.input-container input {
    width: 70%;
    padding: 4vh 0.781vw 1.2vh 0.781vw; /* Espaço maior no topo para o texto do rótulo */
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 3.25vh;
    box-sizing: border-box;
    margin-bottom: 3vh;
}
.input-container label {
    position: absolute;
    top: 6px;
    left: 12px;
    color: #010453; /* Cor do texto label*/
    font-size: 14px; /* Mantém o tamanho do texto igual ao do input */
    pointer-events: none; /* O label não interfere na digitação */
    font-family: Verdana, sans serif;
}
.input-container input:focus ~ label {
    color: #66afe9; /* Muda a cor do rótulo quando o campo está em foco ou preenchido */
}
.input-container input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
/* fim do input */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Ajuste conforme necessário */
    gap: 20px;
    margin-top: 10vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os campos */
    /* position: relative; */
}

.button-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 5vh 10vw;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}