/* 100% copiado da pasta do Victhor */

/*INICIO DO MENU HORIZONTAL*/
body {
 
  background-attachment: fixed;
  /* Faz com que a imagem de fundo permaneça fixa durante o scroll da página */
  margin: 0;
  /* Remove a margem padrão do body */
  background-size: 100%;
  /* Faz com que a imagem de fundo ocupe 100% da largura da janela */
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Impede que o conteúdo da lista transborde */
  background-color: #2e2e2e;
  /* Define a cor de fundo do menu como cinza escuro */
  position: fixed;
  /* Fixa o menu no topo da página */
  top: 0;
  width: 100%;
  /* Faz com que o menu ocupe 100% da largura da janela */
  height: 70px;
  /* Define a altura do menu */
}

li {
  float: left;
  /* Faz com que os itens da lista fiquem alinhados horizontalmente à esquerda */
}

li a, button {
  text-align: center;
  /* Centraliza o texto dentro do botão */
  padding: 22px 10px;
  /* Define o espaçamento interno do botão */
  text-decoration: none;
  cursor: pointer;
  /* Define o cursor como (mãozinha apontando) quando o botão é focado */
  color: rgb(240, 239, 239);
  /* Define a cor do texto */
  font-size: 22px;
  /* Define o tamanho da fonte */
  border: none;
  /* Remove a borda padrão do botão */
  background: none;
  /* Remove o fundo padrão do botão */
  font-weight: 00;
  /* Define a espessura da fonte */
}

button::before {
  margin-left: auto;
  /* Adiciona margem automática à esquerda */
}

button::after, button::before {
  content: '';
  /* Insere um conteúdo vazio antes e depois do botão */
  width: 0%;
  height: 2px;
  background: #166ff5;
  /* faz com que a cor das barra que fazem a animação seja azuis */
  display: block;
  transition: 0.3s;
  /* Define a duração da transição para 0.3 segundos */
}

button:hover::after, button:hover::before {
  width: 100%;
  /* Define a largura das barras decorativas do botão ao passar o mouse sobre o botão */
}

li a:hover:not(.active) {
  background-color: #2e2e2e;
  /* Define a cor de fundo dos links no menu quando o mouse passa sobre eles, exceto quando o link está ativo */
}

.active {
  background-color: #166ff5;
  /* Define a cor de fundo do link ativo no menu como azul */
}

/* FIM DO MENU HORIZONTAL */

/* Estilos para cartões */

.card {
  margin-left: 20px;
  /* Adiciona uma margem esquerdao cartão */

  margin-top: 100px;
  /* Adiciona uma margem superior ao cartão */

  font-family: Arial, Helvetica, sans-serif;
  /* Define a fonte do texto dentro do cartão */

  display: flex;
  /* Define o cartão como um contêiner flexível */

  flex-direction: column;
  /* Organiza os itens dentro do cartão em uma coluna */

  justify-content: space-between;
  /* Distribui o espaço entre os itens do cartão de forma igual */

  border-radius: 0.75rem;
  /* Define o raio da borda do cartão para bordas arredondadas */

  background-color: white;
  /* Define a cor de fundo do cartão */

  width: 300px;
  /* Define a largura do cartão */

  height: 370px;
  /* Define a altura do cartão */

  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
              0 2px 4px -2px rgba(0,0,0,.1);
  /* Adiciona sombras ao redor do cartão para criar um efeito de profundidade */
}

.header {
  position: relative;
  /* Define a posição do cabeçalho como relativa para permitir posicionamento absoluto dos elementos internos */

  background-clip: border-box;
  /* Faz com que o fundo do cabeçalho se estenda até a borda */

  margin-top: 1.5rem;
  /* Adiciona uma margem superior ao cabeçalho */

  margin-left: 1rem;
  /* Adiciona uma margem esquerda ao cabeçalho */

  margin-right: 1rem;
  /* Adiciona uma margem direitaao cabeçalho */

  border-radius: 0.75rem;
  /* Define o raio da borda do cabeçalhpara bordas arredondadas */

  background-color: rgb(33 150 243);
  /* Define a cor de fundo do cabeçalho */

  box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),
              0 4px 6px -4px rgba(33,150,243,.4);
  /* Adiciona sombras ao redor do cabeçalho para criar um efeito de profundidade */

  height: 14rem;
  /* Define a altura do cabeçalho */

  text-align: center;
  /* Centraliza o texto dentro do cabeçalho */
}

.info {
  border: none;
  /* Remove a borda do elemento de info */
  padding: 1.5rem;
  /* Adiciona um preenchimento ao elemento de info */
  text-align: center;
  /* Centraliza o texto dentro do elemento de info */
}

.title {
  color: rgb(38 50 56);
  /* Define a cor do texto do título */

  letter-spacing: 0;
  /* Define o espaçamento entre letras */

  line-height: 1.375;
  /* Define a altura da linha para melhorar leitirau 📖 */

  font-weight: 600;
  /* Define o peso da fonte para texto em negrito */

  font-size: 1.25rem;
  /* Define o tamanho da fonte do título  */

  margin-bottom: 0.5rem;
  /* Adiciona uma margem inferio ao título */
}

.footer {
  padding: 0.75rem;
  /* Adiciona um preenchimento ao rodapé */

  border: 1px solid rgb(236 239 241);
  /* Define uma borda sólida com a esse cinza esbranquecido no rodapé */

  display: flex;
  /* Define o rodapé como um contêiner flexível */

  align-items: center;
  /* Alinha os itens do rodapé verticalmente ao centro */

  justify-content: space-between;
  /* Distribui o espaço horizontalmente entre os itens do rodapé */

  background-color: rgba(0, 140, 255, 0.082);
  /* Define a cor de fundo do rodapé */

  text-align: center;
  /* Centraliza o texto dentro do rodapé */

  bottom: center;
  /* isso não é válida e não tem efeito (pelo eu accho) */
}

.tag {
  font-weight: 300;
  /* Define o peso da fonte das tags para texto mais leve */

  font-size: .75rem;
  /* Define o tamanho da fonte das tags  */

  display: block;
  /* Faz com que as tags se comportem como blocos, ocupa toda a largura disponível */
}

.action {
  cursor: pointer;
  /* Define o cursor como uma mãozinha apontando para indicar um elemento clicável */
  font-family: Arial, Helvetica, sans-serif;
  /* Define a fonte do texto da ação */
  -webkit-user-select: none;
  /* Desativa a seleção de texto no Chrome e talvez o safari (acho q n tme como nois testar isso em um iphone) */
  -moz-user-select: none;
  /* Desativa a seleção de texto no Firefox */
  user-select: none;
  /* Desativa a seleção de texto no navegador */
  border: none;
  /* Remove a borda padrão do botão de ação */
  outline: none;
  /* Remove o contorno padrão do botão de ação */
  box-shadow: 0 4px 6px -1px rgba(33,150,243,.4),
              0 2px 4px -2px rgba(33,150,243,.4);
  /* Adiciona sombras ao redor do botão de ação para criar um efeito de profundidade */
  color: rgb(255 255 255);
  /* Define a cor do texto do botão de ação  */
  text-transform: uppercase;
  /* Transforma o texto do botão de ação para letras maiúsculas */
  font-weight: 700;
  /* Define o peso da fonte para texto em negrito */
  font-size: .75rem;
  /* Define o tamanho da fonte do botão de ação  */
  padding: 0.75rem 1.5rem;
  /* Adiciona um preenchimento vertical e  horizontal ao botão de ação */
  background-color: rgb(33 150 243);
  /* Define a cor de fundo do botão de ação como azul */
  border-radius: 0.5rem;
  /* Define o raio da borda do botão de ação para bordas arredondadas */
}


