/* Estilos globais e reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eff9ff;
}

.back-button {
    background-color: #007acc;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 25vh;
    right: 87vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 2;
}

.back-button:hover {
    background-color: #005a99;
}

.back-button i {
    background-color: transparent;
    color: white;
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 15vh;
    min-height: 500px;
    overflow-y: auto;
}

.vertical-line {
    align-self: center;
    height: 520px;
    width: 2px;
    background-color: #6e32007a;
}

.left-panel, .right-panel {
    flex: 1;
    overflow-y: auto;
}

/* Painel esquerdo */
.left-panel {
    display: flex;
    flex-direction: column;
    background-color: #fffede;
    padding: 5% 5% 6%;
    border-radius: 8px 0 0 8px;
    align-self: center;
}

.left-panel h2 {
    color: #311f0f;
    font-size: 1.6em;
    margin-bottom: 20px;
    text-align: center;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-section img.profile {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-section p.username {
    color: #5D3A1D;
    font-size: 1.1em;
}

.info {
    margin-bottom: 15px;
}

.info label {
    font-weight: bold;
    color: #5D3A1D;
}

.info p {
    background-color: #fdf2a7;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-size: 1em;
}

/* Campo de senha do left-panel */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #fdf2a7;
    color: #333;
    font-size: 0.9em;
    border: 2px solid #fdf2a7;
    outline: none;
    transition: border-color 0.3s ease;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/565/565655.png');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease;
    z-index: 3;
}

.eye-icon.active {
    background-image: url('https://cdn-icons-png.flaticon.com/512/709/709612.png');
}

/* Painel direito */
.right-panel {
    padding: 40px 0 40px 40px;
    display: flex;
    flex-direction: column;
}

.right-panel h2 {
    color: #003f91;
    font-size: 1.6em;
    margin-bottom: 25px;
}

.input-container-senha {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-container-senha input[type="password"]{
    width: 100%;
    padding: 8px 10px;
    font-size: 0.9em;
    border: 2px solid #cfe0f1;
    border-radius: 8px;
    background-color: #f7fbff;
    outline: none;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.input-container label {
    font-size: 1em;
    color: #005a99;
    margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="file"] {
    width: 100%;
    padding: 8px 10px;
    font-size: 0.9em;
    border: 2px solid #cfe0f1;
    border-radius: 8px;
    background-color: #f7fbff;
    outline: none;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
}

.input-container input:focus {
    border-color: #007acc;
}

/* Pré-visualização da imagem */
.profile-preview {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007acc;
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 45px;
}

.button-container button {
    padding: 12px 20px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.yellow-btn {
    background-color: #fff82f;
    color: black;
}
.yellow-btn:hover {
    background-color: #dbca31;
}

.blue-btn {
    background-color: #007acc;
    color: #ffffff;
}
.blue-btn:hover {
    background-color: #005a99;
}

.red-btn {
    background-color: #ee1000;
    color: #ffffff;
}
.red-btn:hover {
    background-color: #b60c00;
}

/* Painel de Opções */
.options {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 -20px;
}

.options-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 20px 25px;
    border-radius: 7px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    cursor: pointer;
}
.options-link:hover {
    background-color: #dddbd5;
}

.options-link p {
    width: 100%;
    font-size: 1.4rem;
}

.options-link span {
    font-size: 1.4rem;
    transition: transform 0.5s;
}
.options-link:hover span {
    transform: translateX(7px);
}

#deletar-link p{
    color: #ff1e00;
}

.new-passwd{
    margin-right: 40px;
    flex: 0 0 50%;
    opacity: 0;
    transform: translateX(-100%); 
    animation: slideIn 0.5s ease-out forwards; 
    will-change: transform, opacity; 
}
.new-passwd.slide-out {
    animation: slideOut 0.3s ease-in forwards; /* Duração de 0.3s para slideOut mais rápido */
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-4%); /* Começa fora da tela à esquerda */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Move para a posição original */
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0); /* Começa fora da tela à esquerda */
    }
    100% {
        opacity: 0;
        transform: translateX(-4%); /* Move para a posição original */
    }
}

#config-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* Card de excluir conta*/
.card {
    background: #fff;
    padding: 40px 30px 45px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.form{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin: 30px 0 0px;
    padding: 0;
    justify-content: space-between;
    gap: 10%;
}

.btn {
    padding: 13px;
    width: 50%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}

.btn-danger {
    background: #e63946;
    color: #fff;
}
.btn-danger:hover {
    background: #ca2633;
}

.btn-cancel {
    background: #ccc;
    color: #333;
    font-weight: bold;
}
.btn-cancel:hover {
    background: #868686;
}



