/* Estilos globais e reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eff9ff;
}

.back-button {
    background-color: #007acc;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 25vh;
    right: 87vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 2;
}

.back-button:hover {
    background-color: #005a99;
}

.back-button i {
    background-color: transparent;
    color: white;
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 15vh;
    min-height: 500px;
    overflow-y: auto;
}

.vertical-line {
    align-self: center;
    height: 520px;
    width: 2px;
    background-color: #6e32007a;
}

.left-panel, .right-panel {
    flex: 1;
    overflow-y: auto;
}

.left-panel {
    display: flex;
    flex-direction: column;
    background-color: #fffede;
    padding: 9.2% 8%;
    border-radius: 8px 0 0 8px;
    align-self: center;
}

.left-panel h2 {
    color: #311f0f;
    font-size: 1.6em;
    margin-bottom: 20px;
    text-align: center;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-section img.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-section p.username {
    margin-top: 10px;
    color: #5D3A1D;
    font-size: 1.1em;
}

.info {
    margin-bottom: 15px;
}

.info label {
    font-weight: bold;
    color: #5D3A1D;
}

.info p {
    background-color: #fdf2a7;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-size: 1em;
}

/* Campo de senha do left-panel */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #fdf2a7;
    color: #333;
    font-size: 0.9em;
    border: 2px solid #fdf2a7;
    outline: none;
    transition: border-color 0.3s ease;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/565/565655.png');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease;
    z-index: 1;
}

.eye-icon.active {
    background-image: url('https://cdn-icons-png.flaticon.com/512/709/709612.png');
}

/* Painel direito */
.right-panel {
    margin: 40px 40px 30px 50px;
}

.right-panel h2 {
    color: #003f91;
    font-size: 1.6em;
    margin-bottom: 25px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    font-size: 1em;
    color: #005a99;
    margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="password"],
.input-container input[type="file"] {
    width: 100%;
    padding: 8px 10px;
    font-size: 0.9em;
    border: 2px solid #cfe0f1;
    border-radius: 8px;
    background-color: #f7fbff;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #007acc;
}

/* Pré-visualização da imagem */
.profile-preview {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007acc;
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 45px;
}

.button-container button{
    padding: 12px 20px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.yellow-btn{
    background-color: #fff82f;
    color: black;
}
.yellow-btn:hover{
    background-color: #dbca31;
}

.blue-btn {
    background-color: #007acc;
    color: #ffffff;
}
.blue-btn:hover {
    background-color: #005a99;
}

.red-btn {
    background-color: #ee1000;
    color: #ffffff;
}
.red-btn:hover {
    background-color: #b60c00;
}
