/* BARRA DE MENU HORIZONTAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

header {
  top: 0;
  max-height: 10vh;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  border-bottom: 2px solid #33333375;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200vw;
  margin: 0 auto;
  padding: 2vh 4vw;
}

.logo a {
  font-size: 4vh;
  font-weight: bold;
  color: #0032d6;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #333333;
  text-decoration: none;
  font-size: 4vh;
  padding: 0.6vw 2vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #f0f0f0c4;
  color: #0032d6;
}

@media (max-width: 100%) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-links {
      flex-direction: column;
      width: 100%;
  }

  .nav-links li {
      margin: 10px 0;
  }

  .nav-links a {
      width: 100%;
      text-align: left;
  }
}


/* CARD DE LOGIN */

#overlay {
  display: none; /* Inicia como oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#loginCard {
background: white;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
animation: fadeIn 0.4s ease-in-out;
}

.hidden {
display: none;
}

/* Form CSS */
.form {
display: flex;
flex-direction: column;
gap: 10px;
background-color: #ffffff;
padding: 30px;
width: 450px;
border-radius: 20px;
}

.inputForm {
border: 1.5px solid #ecedec;
border-radius: 10px;
height: 50px;
display: flex;
align-items: center;
padding-left: 10px;
transition: 0.2s ease-in-out;
}

.input {
margin-left: 10px;
border-radius: 10px;
border: none;
width: 100%;
height: 100%;
}

.input:focus {
outline: none;
}

.inputForm:focus-within {
border: 1.5px solid #2d79f3;
}

.flex-row {
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
justify-content: space-between;
}

.span {
font-size: 14px;
margin-left: 5px;
color: #2d79f3;
font-weight: 500;
cursor: pointer;
}

.button9-submit {
margin: 20px 0 10px 0;
background-color: #151717;
border: none;
color: white;
font-size: 15px;
font-weight: 500;
border-radius: 10px;
height: 50px;
width: 100%;
cursor: pointer;
}

.button-mda {
  margin: 20px 0 10px 0;
  background-color: #fcf74e;
  border: none;
  color: #151717;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-mda:hover {
  margin: 20px 0 10px 0;
  background-color: #c4b42d;
  border: none;
  color: #151717;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  }

.p {
text-align: center;
color: black;
font-size: 14px;
margin: 5px 0;
}

.btn9 {
margin-top: 10px;
width: 100%;
height: 50px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
gap: 10px;
border: 1px solid #ededef;
background-color: white;
cursor: pointer;
transition: 0.2s ease-in-out;
}

.btn9:hover {
border: 1px solid #2d79f3;
}

/* Animação */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}



/* CARD DE CADASTRO */
#signupCard {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 0.4s ease-in-out;
}

/* AREA DE TEXTO E IMAGENS INFORMATIVO */

.section {
  margin-bottom: 5vh;
  margin-top: 20vh;
margin-left: 10vw;
margin-right: 10vw;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
background-color: #fff; /* ou outra cor de fundo */
}

.text-content {
max-width: 50%; /* controla a largura do texto */
}

.text-content h2 {
font-size: 5vh;
margin-bottom: 1rem;
}

.text-content p {
font-size: 2vh;
margin-bottom: 1.5rem;
color: #333;
}

.cta-button {
padding: 2vh 5vh;
font-size: 1vw;
color: #fff;
background-color: #000;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.cta-button:hover {
background-color: #333; /* cor de fundo ao passar o mouse */
}

.image-content {
  margin-left: 2vw;
max-width: 30%; /* controla a largura da imagem */
}

.image-content img {
width: 100%;
height: auto;
border-radius: 10px; /* ou outro valor para ajustar as bordas */
}


/* BANNER */

/* Estilo do banner */
.banner {
  width: 100%;
  height: 80vh; /* Altura do banner */
  background-image: url('IMAGEM/JPEG/Banner\ -\ Libras.jpg'); /* Substitua pela URL da sua imagem */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; /* Espaço para o menu fixo */
}

.banner-text {
  margin-right: 50vw;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombras no texto para melhor leitura */
}

.banner h1 {
  font-size: 7vh;
  margin-bottom: 10px;
}
/* BOTAO DENTRO DO BANNER */

.buttonBanner {
  cursor: pointer;
  border: 2px solid #fcfcfc;
  background-color: #0092db;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 2vh;
 }
 
 .buttonBanner span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 .buttonBanner:hover {
  background-color: #0071e2;
 }


/* APARTIR DA AQUI ESTARÁ SENDO MAIS VOLTADO AO MENU DE ATIVIDADES */


/* Barra de menu vertical */
.menu-vertical {
  border-right: 0.5vw solid #33333375;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.h1-mv {
  color: #000000;
}

.btn-mv {
  margin-left: 1.2%;
  max-width: 19vw;
  min-width: 19vw;
  min-height: 8vh;
  margin-bottom: 2vh;
  --button_radius: 0.75em;
  --button_color: #ffffff;
  --button_outline_color: #000000;
  font-size: 1.3vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.btn-mv_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn-mv:hover .btn-mv_top {
  transform: translateY(-0.33em);
}

.btn-mv:active .btn-mv_top {
  transform: translateY(0);
}

.btn_bottom {
  margin-top: 60vh;
}

/* DAQUI PRA BAIXO É MAIS FOCADO AO TREINAMENTO DE LETRAS */

#camera {
  margin-top: 10vh;
  margin-left: 5vw;
  width: 100%;
  max-width: 700px;
  height: 500px;
  background-color: #333;
}