/* Títulos */
.main-content h1 {
    color: #64ffda;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.main-content h1:hover {
    color: #4ade80; /* Muda a cor ao passar o mouse */
}

.main-content p {
    color: #94a3b8;
    line-height: 1.8;
    font-size: 1rem;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Links */
.main-content a {
    text-decoration: none;
    color: inherit;
}

.main-content a:hover {
    color: #64ffda; /* Muda a cor do texto ao passar o mouse */
}

/* Imagens */
.main-content img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombras sutis nas imagens */
    transition: transform 0.3s ease;
}

.main-content img:hover {
    transform: scale(1.03); /* Zoom nas imagens ao passar o mouse */
}

/* Conteúdo principal */
.main-content .content {
    margin-left: 20vh;
    background-color: #2d3748; /* Fundo cinza escuro */
    margin-left: 270px; /* Espaço para a sidebar */
    padding: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: background-color 0.3s ease;
}

.main-content .content:hover {
    background-color: #4b5563; /* Cor mais clara ao passar o mouse */
}

/* Seções */
.main-content .section {
    margin-bottom: 60px;
    width: 75vw;
    height: 50vh; 
    border-radius: 12px;
    background-color: #374151; /* Fundo das seções */
    transition: background-color 0.3s ease;
}

.main-content .section:hover {
    background-color: #1f2937; /* Cor mais escura ao passar o mouse */
}

.main-content .section-img {
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombras mais pronunciadas */
}

/* Botões */
.main-content .btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #2563EB;
    color: #fff;
    border-radius: 6px;
    font-size: 1.1rem;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease;
}

.main-content .btn-primary:hover {
    background-color: #1d4ed8;
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

/* Ajustes para as imagens dentro de cada seção */
.main-content .section .section-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    .main-content .content {
        margin-left: 0;
        padding: 20px;
    }

    .main-content .section {
        padding: 15px;
    }

    .main-content h1 {
        font-size: 1.5rem;
    }

    .main-content .btn-primary {
        padding: 10px 15px;
        font-size: 1rem;
    }

    .main-content .section-img {
        width: 100%;
        margin-top: 15px;
    }
}
