<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinaLibras</title>
    <link rel="stylesheet" type="text/css" href="CSS/Index.css">
    <link rel="website icon" type="icon" href="CSS/IMAGEM/Favicon/favicon.ico">
</head>
<body>
    
    <!-- Vídeo onde a câmera será exibida -->
    <video id="camera" autoplay></video>

    <!-- Botão para capturar a imagem -->
    <button id="capture">Capturar Imagem</button>
    
    <!-- Canvas para exibir a imagem capturada -->
    <canvas id="canvas" style="display: none;"></canvas>

    <script src="JS-View/Camera.js"></script>

</body>
</html>