<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título -->
    <title>Atividades</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/Mda.css">
    <!-- Ícone do site -->
    <link rel="website icon" type="icon" href="CSS/IMAGEM/PNG/Logo2.png">
</head>

<!-- Aqui era para ser a tela que mostra as atividades de um capítulo...? -->
<!-- Como são vários capítulos com várias atividades, eu criei uma pasta voltada para isso, que é o Menu_Ativ -->
<!-- Deixei este código aqui para a pessoa que ficar com essa tela conseguir reciclar o que conseguir, mas recomendo não mexer nesse e sim nos arquivos do Menu_Ativ -->

<body>

    <ul>
        <li><a class="active" href="index.html"><button>Menu</button></a></li>
    </ul>

    <!-- Container principal para os cards -->
    <div style="display: flex;">
        
        <!-- Primeiro card -->
        <div class="card" style="padding: 20px; width: 250px;">
            <div class="header" style="height: 100%; background-color: rgb(33 150 243);"></div>
            <div class="info" style="margin: 10px 0;">
                <p class="title">Alfabeto</p>
                <p>Vamos começar com algo básico, tanto para seu desenvolvimento quanto a sua prática. Do A ao J</p>
            </div>
            <div class="footer" style="text-align: center;">
                <div class="action" style="background-color: #007BFF; padding: 10px; color: white; text-decoration: none; border-radius: 5px;">
                    <a href="Atv1.html" style="color: white;">Iniciar Tarefa</a>
                </div>
            </div>
        </div>

        <!-- Segundo card -->
        <div style="display: flex;">
            <div class="card" style="padding: 20px; width: 250px;">
                <div class="header" style="height: 100%; background-color: rgb(33 150 243);"></div>
                <div class="info" style="margin: 10px 0;">
                    <p class="title">Alfabeto</p>
                    <p>Vamos começar com algo básico, tanto para seu desenvolvimento quanto a sua prática. Do L ao Z</p>
                </div>
                <div class="footer" style="text-align: center;">
                    <div class="action" style="background-color: #007BFF; padding: 10px; color: white; text-decoration: none; border-radius: 5px;">
                        <a href="Atv1.html" style="color: white;">Iniciar Tarefa</a>
                    </div>
                </div>
            </div>

            <!-- Terceiro card -->
            <div style="display: flex;">
                <div class="card" style="padding: 20px; width: 250px;">
                    <div class="header" style="height: 100%; background-color: rgb(33 150 243);"></div>
                    <div class="info" style="margin: 10px 0;">
                        <p class="title">Cores</p>
                        <p>Vamos começar com algo básico, tanto para seu desenvolvimento quanto a sua prática. Do A ao J</p>
                    </div>
                    <div class="footer" style="text-align: center;">
                        <div class="action" style="background-color: #007BFF; padding: 10px; color: white; text-decoration: none; border-radius: 5px;">
                            <a href="Atv1.html" style="color: white;">Iniciar Tarefa</a>
                        </div>
                    </div>
                </div>

                <!-- Quarto card -->
                <div style="display: flex;">
                    <div class="card" style="padding: 20px; width: 250px;">
                        <div class="header" style="height: 100%; background-color: rgb(33 150 243);"></div>
                        <div class="info" style="margin: 10px 0;">
                            <p class="title">Ações</p>
                            <p>Vamos começar com algo básico, tanto para seu desenvolvimento quanto a sua prática. Do L ao Z</p>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <div class="action" style="background-color: #007BFF; padding: 10px; color: white; text-decoration: none; border-radius: 5px;">
                                <a href="Atv1.html" style="color: white;">Iniciar Tarefa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
