body{
    background-color: rgb(255, 255, 255);
    }
    /*cor de fundo (precisa mudar no .container tbm*/
    .container{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        height: 300px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        gap: 10px;
        gap: 10px 20px; /* row-gap column gap */
        row-gap: 10px;
        column-gap: 20px;
    }
    .container2{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        height: 250px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        gap: 10px;
        gap: 10px 20px; /* row-gap column gap */
        row-gap: 10px;
        column-gap: 20px;
    }
    /*alinhamento das caixas*/
    .elemento{
        flex: none;
        width: 330px;
        height: 150px;
        background-color: blue;
        border: 2px solid black;
        border-radius: 8px;
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }
    /*caixas*/
    .menu {
        border-radius: 30px;
        font-size:larger;
        text-align:center;
        width: 150px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 5;
    }
    /*botão menu*/
    
    h2 {
        text-align: center;
        font-size: 30px;
    }
    /*atividade*/

    .bt-container { 
        text-align: center 
      }
      
     .text-white,
     .text-white-houve:hover,
     .bt {
       color: #000000 !important;
     }
    
     .shadow-1,
     .bt,
     .container {
       box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     }
    
     .shadow-2,
     .bt:hover,
     .context_menu_pai,
     .box_login,
     .datepicker.dropdown-menu,
     .dialogbox,
     .overflow-menu ul {
       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
     }
    
     .transition-1,
     .bt {
       transition: all .3s ease-out;
       transition-property: all;
       transition-duration: 0.3s;
       transition-timing-function: ease-out;
     }
    /*efeitos dos botões*/
     .bt {
       border: 0;
       padding: 10px;
       width: 200px;
       height: 50px;
       display: inline-block;
       margin: 10px;
       cursor: pointer;
       border-radius: 4px;
       background-color: aqua;
       font-size: large;
       font-weight: bold;
    /*botões */
     }
    
    
    .center {
        margin: 0;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
     
      @media screen and (max-width: 200px){
        .texto{
            font-size: 0.8rem
        }
    }
    
    @media screen and (max-width: 600px){
        .texto{
            font-size: 1.1rem
        }
    }  /*para impedir que a tela se mexa muito quando minimizar*/